<div class="container">
  <h2>Create a New Initiative with SSMN</h2>
  <form name="initForm" novalidate ng-submit="initForm.$valid && init.submit()">
    <label for="Name">Initiative Name:</label>
    <input type="text" ng-model="init.name" ng-required="true"/>
    <br />
    <label for="Objectives">Objectives:</label>
    <input type="text" style="width: 500px; " ng-model="init.objectives" ng-required="true"/>
    <br />
    <h3>Pillars</h3>
    <ul style="list-style:none">
      <li>
        <label><input type="radio" ng-value="1" ng-model="init.pillar" />Healthy and Connected Community</label>
        <p>Healthy, active living. Equitable, accessible and socially connected communities</p>
      </li>
      <li>
        <label><input type="radio" ng-value="2" ng-model="init.pillar" />Local Business Vitality</label>
          <p>Socially conscious and earth friendly local businesses supported by local consumers and destination-minded tourists</p>
      </li>
      <li>
        <label><input type="radio" ng-value="3" ng-model="init.pillar" />Resource & Environmental Stewardship</label>
          <p>Resource conservation, energy and waster reduction. Supporting renewables and earth-friendly practices.</p>
      </li>
    </ul>
    <!-- <label for="Pillar">Pillar:</label>
    <select ng-model="init.pillar" ng-options="x for x in init.pillars" ></select> -->
    <label for="Website">Website:</label>
    <input type="text" ng-model="init.website" ng-required="true" ng-required="true"/>
    <br />
    <label for="contactName">Contact Full Name: </label>
    <input type="text" ng-model="init.contactName" ng-required="true"/>
    <label for="contactEmail">Contact Email: </label>
    <input type="email" ng-model="init.contactEmail" ng-required="true" />
    <label for="contactPhone">Contact Phone: </label>
    <input type="tel" ng-model="init.contactPhone" ng-required="true" />
    <br />
    <button type="submit">Submit</button>
  </form>

</div>
