<div class="container">
  <h1>{{initview.init.name}}</h1>
  <ul>
      <li>
        {{initview.init.objectives}}
      </li>
      <li>
        {{initview.init.website}}
      </li>
      <li>
        {{initview.init.pillar}}
      </li>
      <li>
        {{initview.init.contactName}}
        {{initview.init.contactEmail}}
        {{initview.init.contactPhone}}
      </li>
  </ul>
  <div ng-repeat="goal in initview.init.phase">
      {{goal.label}}
  </div>

<ul>
  <li>
    Objectives: {{initview.init.objectives}}
  </li>
  <li>
    Website: <a href="{{initview.init.website}}">{{initview.init.website}}</a>
  </li>
  <li>
    Pillar: {{initview.init.pillar}}
  </li>
  <li>
    Contact Name: {{initview.init.contactName}}
  <br/>
    Contact Email: {{initview.init.contactEmail}}
    <br />
    Contact Phone: {{initview.init.contactPhone}}
  </li>
</ul>
<div ng-repeat="phase in initview.init.phase">
  <md-button class="md-info" ng-click="initview.phaseView(phase)">{{phase.label}}</md-button>
</div>

<md-button class="md-primary md-raised" ng-if="initview.data.loggedIn" ng-click="initview.addPhase()">Add Phase</md-button>

  <div ng-controller="ProgressController as pc">
    <div ng-repeat="phase in pc.initPhases">
      <ui-knob value="phase.phaseValue" options="phase.phaseOptions"></ui-knob>
      <md-button class="btn1">Update</md-button>
      <div ng-repeat="mileStone in phase.mileStones track by $index">
        Milestone: {{mileStone.name}}
        <ui-knob value="mileStone.value" options="mileStone.msOptions"></ui-knob>
      </div>
    </div>
  </div>

  <md-button class="md-primary md-raised" ng-click="initview.addPhase()">Add Phase</md-button>
</div>
