

<div class="container">
<h1>{{initview.init.name}}</h1>

<ul>
  <li>
    Objectives: {{initview.init.objectives}}
  </li>
  <li>
    Website: <a href="{{initview.init.website}}">{{initview.init.website}}</a>
  </li>
  <li>
    Pillar: {{initview.init.pillar}}
  </li>
  <li>
    Contact Name: {{initview.init.contactName}}
  <br/>
    Contact Email: {{initview.init.contactEmail}}
    <br />
    Contact Phone: {{initview.init.contactPhone}}
  </li>
</ul>
<div ng-repeat="phase in initview.init.phase">
  <md-button class="md-info" ng-click="initview.phaseView(phase)">{{phase.label}}</md-button>
</div>

<md-button class="md-primary md-raised" ng-if="initview.data.loggedIn" ng-click="initview.addPhase()">Add Phase</md-button>
</div>
