<div id="formContent">
  <md-content layout-padding>
    <div>
      <form name="loginForm" novalidate ng-submit="loginForm.$valid && login.login()">
        <md-input-container class="md-block">
          <label class="form-font">Username</label>
          <input required name="username" ng-model="login.username" />
        </md-input-container>
        <md-input-container class="md-block">
          <label class="form-font">Password</label>
          <input required type="password" name="password" ng-model="login.password" />
        </md-input-container>
        <div>
          <section layout="row" layout-align="center">
            <md-button type="submit" class="groupY left">Login</md-button>
            <a href="/register"><md-button class="groupY right">Register</md-button></a>
          </section>
        </div>
      </form>
    </div>
  </md-content>
</div>



<!-- <form>
  <label for="username">Username:</label>
  <input type="text" ng-model="login.username" placeholder="Username" />
  <label for="password">Password:</label>
  <input type="password" ng-model="login.password" placeholder="Password" />
  <button type="submit" ng-click="login.login()">Login</button>
  <a href="/register">Register</a>
</form> -->
