
<div layout="row" layout-wrap layout-margin layout-align="center">
  <div ng-repeat="init in profile.data.initiatives">
    <md-button class="md-primary md-raised" ng-click="profile.initModal(init)">{{init.name}}</md-button>

  </div>
  <div >
    <md-button class="md-primary md-raised" layout-wrap layout-margin layout-align="center" ng-click="profile.newInit()">Create a New Initiative</md-button>

  </div>
</div>


<!-- <md-button class="md-primary md-raised" layout-wrap layout-margin layout-align="center" ng-click="profile.newInit()">Create a New Initiative</md-button> -->
<!-- <a href="/initiative">Create a New Initiative</a> -->
