<md-sidenav class="md-sidenav-left" md-component-id="left" md-whiteframe="4">
  <md-button class="md-icon-button md-primary" ng-click="ssmn.toggleLeft()" aria-label="go back">
    <md-icon md-svg-icon="styles/ourIcons/ic_arrow_back_18px.svg"></md-icon>
  </md-button>
  <md-button class="md-primary md-raised" layout-wrap layout-margin layout-align="center" ng-click="profile.newInit()" aria-label="add new initiative">
    <h1><md-button class="md-icon-button md-primary" ng-click="ssmn.toggleLeft()" aria-label="add">
      <md-icon md-svg-icon="styles/ourIcons/ic_add_24px.svg"></md-icon>
    </md-button> New Initiative</h1></md-button>

  <md-content layout-margin>
    <md-button class="md-primary md-raised" ng-click="profile.toggleInits = !profile.toggleInits"><h2>Our Initiatives ({{profile.data.ourInitiativesCount}})</h2></md-button>


        <md-list class="md-dense" flex>
          <md-list-item md-theme="default" class="md-3-line" ng-show="profile.toggleInits" ng-repeat="init in profile.data.initiatives" ng-click="profile.initModal(init)">
            <div class="md-list-item-text" layout="column">{{init.name}}</div>
        </md-list-item>
      </md-list>
  </md-content>

<span ng-show="profile.data.admin">
  <md-content layout-margin>
    <md-button class="md-primary md-raised" ng-click="profile.togglePendInits = !profile.togglePendInits"><h2>Pending Initiatives ({{profile.data.pendingArrayLength}})</h2></md-button>
    <span ng-controller="AdminController as admin">
        <md-list flex>
          <md-list-item md-theme="default" class="md-3-line" ng-show="profile.togglePendInits" ng-repeat="init in admin.data.initPendingArray" ng-click="admin.initModal(init)">
            <div class="md-list-item-text" layout="column">{{init.name}}</div>
        </md-list-item>
      </md-list>
  </span>
  </md-content>
</span>
</md-sidenav>
