<div id="formContent">
  <md-content layout-padding>
    <div>
      <form name="registerForm" novalidat ng-submit="registerForm.$valid && regsiter.register()">
        <md-input-container class="md-block">
          <label for="username">Username:</label>
          <input type="text" ng-model="register.username" placeholder="Username" />
        </md-input-container>
        <md-input-container class="md-block">
          <label for="password">Password:</label>
          <input type="password" ng-model="register.password" placeholder="Password" />
        </md-input-container>
        <div>
          <section layout="row" layout-align="center">
            <md-button type="submit" ng-click="register.register()">Register</md-button>

          </section>
        </div>
      </form>

    </div>
  </md-content>
</div>
