html, body {
  font-family: 'Raleway', 'Roboto', sans-serif;
  font-size: 14px;
  height: 100%
  margin: 0;
  padding: 0;
}

#content {
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 5px;
}

/*colors for testing layout*/
.lightgreen {
  background-color: lightgreen;
}

.lightblue {
  background-color: lightblue;
}

.pink {
  background-color: pink;
}


/*back to actual stylesheets*/
.lite {
  font-weight: 300;
}

.liteItal {
  font-weight: 300;
  font-style: italic;
}

.regItal {
  font-style: italic;
}

.bold {
  font-weight: 700;
}

.boldItal {
  font-weight: 700;
  font-style: italic;
}

.black {
  font-weight: 900;
}

.center {
  text-align: center;
  /*margin: 0 auto;
  display: inline-block;*/
}

.top-padding {
  padding-top: 25px;
}

.dial-container {
  padding-bottom: 15px;
}

.underline {
  border-bottom: 1px solid #D3D3D3;
}

.uppercase {
  text-transform: uppercase;
}

.btn1 {
  font-weight: 700;
}

.list {
  list-style: none outside;
}

.groupX {
    font-size: 16px;
    margin: 20px 0;
    padding: 3px 15px 3px 15px;
    color: rgb(49, 46, 46);
    background-color: rgba(224, 224, 224, 0.96);
    text-transform: none;
    font-weight: 700;
    min-width:100px;
}
.md-button.left {
    border-radius: 10px 0 0 10px;
}
.md-button.middle {
    border-radius: 0;
    border-left: 1px solid rgba(230, 230, 230, 0.96);
    border-right: 1px solid rgba(230, 230, 230, 0.96);
}
.md-button.right {
    border-radius: 0 10px 10px 0;
}
.md-button:not([disabled]):hover {
    background-color: rgba(193, 193, 193, 0.96);
    color: rgba(44, 65, 164, 0.96);
    transition: 0.3s;
}
