html, body {
  font-family: 'Raleway', 'Roboto', sans-serif;
  font-size: 14px;
  height: 100%
  margin: 0;
  padding: 0;
}

#content {
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 5px;
}

#formContent {
  width: 500px;
}

/*colors for testing layout*/
.lightgreen {
  background-color: lightgreen;
}

.lightblue {
  background-color: lightblue;
}

.pink {
  background-color: pink;
}

.lightgrey {
  background-color: #DCDCDC;
}


/*font styles*/
.lite {
  font-weight: 300;
}

.liteItal {
  font-weight: 300;
  font-style: italic;
}

.regItal {
  font-style: italic;
}

.bold {
  font-weight: 700;
}

.boldItal {
  font-weight: 700;
  font-style: italic;
}

.black {
  font-weight: 900;
}

.form-font {
  color: steelblue;
  font-weight: 700;
  border-color: steelblue;
}


md-input-container {
  margin-top: 12px;
}

md-input-container.md-default-theme .md-input, md-input-container .md-input,
md-select.md-default-theme .md-select-value, md-select .md-select-value,
md-input-container:not(.md-input-invalid).md-input-focused .md-input,
md-select.md-default-theme .md-select-value.md-select-placeholder,
md-select .md-select-value.md-select-placeholder {
  color: steelblue;
  border-color: steelblue;
  font-weight: 700;
}

.inputdemoErrorsAdvanced {
  /* NOTE: Check the demo's HTML to see some additional RTL support CSS */
  /* Setup animations similar to the ng-messages */ }
  .inputdemoErrorsAdvanced .hint {
    /* Position the hint */
    position: absolute;
    left: 2px;
    right: auto;
    bottom: 7px;
    /* Copy styles from ng-messages */
    font-size: 12px;
    line-height: 14px;
    transition: all 0.3s cubic-bezier(0.55, 0, 0.55, 0.2);
    /* Set our own color */
    color: grey; }
  .inputdemoErrorsAdvanced .hint.ng-hide,
  .inputdemoErrorsAdvanced .hint.ng-enter,
  .inputdemoErrorsAdvanced .hint.ng-leave.ng-leave-active {
    bottom: 26px;
    opacity: 0; }
  .inputdemoErrorsAdvanced .hint.ng-leave,
  .inputdemoErrorsAdvanced .hint.ng-enter.ng-enter-active {
    bottom: 7px;
    opacity: 1; }

.center {
  text-align: center;
  /*margin: 0 auto;
  display: inline-block;*/
}

.top-padding {
  padding-top: 25px;
}

.dial-container {
  padding-bottom: 15px;
}

.form-box {
  border: 1px solid steelblue;
  background-color: rgba(224, 224, 224, 0.96);
;
}

.underline {
  border-bottom: 1px solid #D3D3D3;
}

.uppercase {
  text-transform: uppercase;
}

.btn1 {
  font-weight: 700;
}

.list {
  list-style: none outside;
}

.groupX {
    font-size: 16px;
    margin: 20px 0;
    padding: 3px 15px 3px 15px;
    color: rgb(49, 46, 46);
    background-color: rgba(224, 224, 224, 0.96);
    text-transform: none;
    font-weight: 700;
    min-width:100px;
}

.groupY {
    font-size: 14px;
    margin: 8px 0;
    padding: 3px 5px 3px 5px;
    color: rgb(49, 46, 46);
    background-color: rgba(224, 224, 224, 0.96);
    text-transform: none;
    font-weight: 700;
    min-width:75px;
}

.md-button.only {
  border-radius: 5px;
  border: 1px solid steelblue;
}

.md-button.left {
    border-radius: 5px 0 0 5px;
}
.md-button.middle {
    border-radius: 0;
    border-left: 1px solid rgba(230, 230, 230, 0.96);
    border-right: 1px solid rgba(230, 230, 230, 0.96);
}
.md-button.right {
    border-radius: 0 5px 5px 0;
}
.md-button:not([disabled]):hover {
    background-color: rgba(193, 193, 193, 0.96);
    color: rgba(44, 65, 164, 0.96);
    transition: 0.3s;
}

#canvas{
  border: solid black;
  /*width: 70%;*/
  max-width: 1500px;
  max-height: 800px;
  margin: 0 auto 0 auto;
}

/*Testing color palletes*/

/*Teal*/
.t500 {
  color: #009688;
}

.t300 {
  color: #4db6ac;
}

.t800 {
  color: #00695c;
}

.ta200 {
  color: #64ffda;
}

.bg-t500 {
  background-color: #009688;
}

.bg-t300 {
  background-color: #4db6ac;
}

.bg-t800 {
  background-color: #00695c;
}

.bg-ta200 {
  background-color: #64ffda;
}

/*Light Blue*/
.lb500 {
  color: #03a9f4;
}

.lb200 {
  color: #81d4fa;
}

.lb900 {
  color: #01579b;
}

.lba100 {
  color: #80d8ff;
}

.bg-lb500 {
  background-color: #03a9f4;
}

.bg-lb200 {
  background-color: #81d4fa;
}

.bg-lb900 {
  background-color: #01579b;
}

.bg-lba100 {
  background-color: #80d8ff;
}

/*Lime*/
.lm500 {
  color: #cddc39;
}

.lm300 {
  color: #dce775;
}

.lm800 {
  color: #9e9d24;
}

.lma100 {
  color: #f4ff81;
}

.bg-lm500 {
  background-color: #cddc39;
}

.bg-lm300 {
  background-color: #dce775;
}

.bg-lm800 {
  background-color: #9e9d24;
}

.bg-lma100 {
  background-color: #f4ff81;
}
